APP_HOST=0.0.0.0
APP_PORT=8000
APP_API_URL=http://localhost:8000

APP_ENVIRONMENT=development
APP_ALLOWED_ORIGINS=["http://localhost:3000"]

DB_USER=oc
DB_PASSWORD=oc
DB_NAME=oc
DB_HOST=oc-db
DB_PORT=5432    
DB_POOL_SIZE=100    
DB_MAX_OVERFLOW=10  
DB_POOL_RECYCLE=1800

# For DB to work in docker-compose, just duplicate the DB_USER and DB_PASSWORD and DB_NAME
POSTGRES_USER=oc
POSTGRES_PASSWORD=oc
POSTGRES_DB=oc